global
    maxconn 4096
    nbthread 1

defaults
    mode http
    timeout connect 100ms
    timeout client 5s
    timeout server 5s
    timeout http-keep-alive 2s
    option http-keep-alive
    option dontlognull

frontend rinha_front
    bind *:9999
    default_backend rinha_apis

backend rinha_apis
    balance roundrobin
    http-reuse always
    option httpchk GET /ready
    http-check expect status 200
    server api1 /sockets/api1.sock check inter 1000ms rise 1 fall 2
    server api2 /sockets/api2.sock check inter 1000ms rise 1 fall 2
